In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('fake_jobs.csv')

In [4]:
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15184 non-null  object
 8   benefits             10668 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [6]:
df.isnull().sum().sort_values(ascending=False)

salary_range           15012
department             11547
required_education      8105
benefits                7212
required_experience     7050
function                6455
industry                4903
employment_type         3471
company_profile         3308
requirements            2696
location                 346
description                1
job_id                     0
telecommuting              0
has_questions              0
has_company_logo           0
title                      0
fraudulent                 0
dtype: int64

In [7]:
df = df.drop(['job_id', 'salary_range', 'department', 'benefits', 'function', 'location', 'telecommuting'], axis=1)

In [8]:
# Remove the empty string from text_cols
text_cols = ['description', 'requirements', 'company_profile']

# Fill NaN values in the specified text columns with empty strings
for col in text_cols:
    df[col].fillna("", inplace=True)

/var/folders/gl/nw629lbs4w17jw8kph781f140000gn/T/ipykernel_2536/1200691281.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("", inplace=True)

In [9]:
df.isnull().sum().sort_values(ascending=False)

required_education     8105
required_experience    7050
industry               4903
employment_type        3471
title                     0
company_profile           0
description               0
requirements              0
has_company_logo          0
has_questions             0
fraudulent                0
dtype: int64

In [10]:
cat_cols = ['industry', 'employment_type','required_experience', 'required_education']
for cols in cat_cols:
    df[cols].fillna("Unknown", inplace=True)

/var/folders/gl/nw629lbs4w17jw8kph781f140000gn/T/ipykernel_2536/2896181143.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[cols].fillna("Unknown", inplace=True)

In [11]:
df.isnull().sum().sort_values(ascending=False)

title                  0
company_profile        0
description            0
requirements           0
has_company_logo       0
has_questions          0
employment_type        0
required_experience    0
required_education     0
industry               0
fraudulent             0
dtype: int64

In [12]:
# NO NAN values left
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   company_profile      17880 non-null  object
 2   description          17880 non-null  object
 3   requirements         17880 non-null  object
 4   has_company_logo     17880 non-null  int64
 5   has_questions        17880 non-null  int64
 6   employment_type      17880 non-null  object
 7   required_experience  17880 non-null  object
 8   required_education   17880 non-null  object
 9   industry             17880 non-null  object
 10  fraudulent           17880 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.5+ MB

In [13]:
df.head()

,title,company_profile,description,requirements,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,fraudulent
0,Marketing Intern,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,1,0,Other,Internship,Unknown,Unknown,0
1,Customer Service - Cloud Video Production,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,1,0,Full-time,Not Applicable,Unknown,Marketing and Advertising,0
2,Commissioning Machinery Assistant (CMA),Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,1,0,Unknown,Unknown,Unknown,Unknown,0
3,Account Executive - Washington DC,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,0
4,Bill Review Manager,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,0

In [14]:
from sklearn.preprocessing import LabelEncoder 
cat_cols = ['employment_type', 'required_experience', 'required_education', 'industry']
le_dict = {}
for col in cat_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    le_dict[col] = le

In [15]:
df['text'] = df['title'] + " " + df['company_profile'] + " " + df['description'] + " " + df['requirements']

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, stop_words='english')
X_text = tfidf.fit_transform(df['text'])

In [17]:
X_text.shape

(17880, 1000)

In [18]:
X_cat = df[['has_company_logo', 'has_questions', 
            'employment_type', 'required_experience', 
            'required_education', 'industry']].values
X_cat

array([[  1,   0,   2,   4,   9, 123],
       [  1,   0,   1,   6,   9,  75],
       [  1,   0,   5,   7,   9, 123],
       ...,
       [  0,   0,   1,   7,   9, 123],
       [  0,   1,   0,   6,   6,  48],
       [  1,   1,   1,   5,   9,  22]])

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_cat_scaled = scaler.fit_transform(X_cat)

In [20]:
from scipy.sparse import hstack
from scipy import sparse
X_structured_sparse = sparse.csr_matrix(X_cat_scaled)
X_final = hstack([X_text, X_structured_sparse])

In [21]:
X_final.shape

(17880, 1006)

In [22]:
y = df['fraudulent'].values
print(y.shape)  # should be (17880,)

(17880,)

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X_final, y, test_size=0.2, random_state=42, stratify=y
)

In [44]:
from imblearn.ensemble import BalancedRandomForestClassifier
rf = BalancedRandomForestClassifier(
    n_estimators=100,
    max_depth=None,
    random_state=42,
    class_weight='balanced',  # handles class imbalance
    n_jobs=-1                 # use all cores for speed
)
rf.fit(X_train, y_train)

/Users/naveennegi/fake-job-classifier/venv/lib/python3.9/site-packages/imblearn/ensemble/_forest.py:577: FutureWarning: The default of `sampling_strategy` will change from `'auto'` to `'all'` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `'all'` to silence this warning and adopt the future behaviour.
  warn(
/Users/naveennegi/fake-job-classifier/venv/lib/python3.9/site-packages/imblearn/ensemble/_forest.py:589: FutureWarning: The default of `replacement` will change from `False` to `True` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `True` to silence this warning and adopt the future behaviour.
  warn(
/Users/naveennegi/fake-job-classifier/venv/lib/python3.9/site-packages/imblearn/ensemble/_forest.py:601: FutureWarning: The default of `bootstrap` will change from `True` to `False` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `False` to silence this warning and adopt the future behaviour.
  warn(

BalancedRandomForestClassifier(class_weight='balanced', n_jobs=-1,
                               random_state=42)

In [47]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score  
y_probs = rf.predict_proba(X_test)[:, 1]

threshold = 0.75
y_pred_custom = (y_probs >= threshold).astype(int)
accuracy = accuracy_score(y_test, y_pred_custom)
#Evaluate
print("Classification Report:\n", classification_report(y_test, y_pred_custom))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_custom))
print(f"Accuracy Score: {accuracy:.4f}")

Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98      3403
           1       0.67      0.65      0.66       173

    accuracy                           0.97      3576
   macro avg       0.83      0.82      0.82      3576
weighted avg       0.97      0.97      0.97      3576

Confusion Matrix:
 [[3348   55]
 [  60  113]]
Accuracy Score: 0.9678

In [ ]:
import joblib

# Save model
joblib.dump(rf, 'model.pkl')

# Save TF-IDF vectorizer
joblib.dump(tfidf, 'tfidf.pkl')

# Save scaler
joblib.dump(scaler, 'scaler.pkl')

# Save label encoders
joblib.dump(le_dict, 'label_encoders.pkl')

['label_encoders.pkl']

In [55]:
df["title"].unique()

array(['Marketing Intern', 'Customer Service - Cloud Video Production',
       'Commissioning Machinery Assistant (CMA)', ...,
       'Senior Financial Analyst (Retail) ',
       'Account Director - Distribution ',
       'Project Cost Control Staff Engineer - Cost Control Exp - TX'],
      dtype=object)